/* List.css */
.nfp{
    font-size: 110%;
    color: rgb(104, 14, 207);
    font-family:Times NewRoman;
}

.fp{
    font-size: 140%;
    color:rgb(22, 5, 116); 
}
.rose{
    font-size: 20pt;
    font-family: segoe ui;
    color: crimson;

}