ItemName
{
    color:red;
    font-family:copperplate Gothoic Light;
    font-size:16pt;
    font:bold;
}
ItemPrice,Quantity
{
    color:yellow;
    font-family:Arial;
    font-size:12pt;
    font:bold;
}
